{% layout 'theme.liquid' %}

<div class="page-width">
  {% section 'article-header' %}
  {% section 'article-content' %}
  {% section 'article-next-prev' %}
  {% section 'related-articles' %}
  {% section 'article-comments' %}
</div>