{% layout 'theme.liquid' %}

<div class="page-width">
  {% section 'page-header' %}
  {% section 'about-intro' %}
  {% section 'about-team' %}
  {% section 'about-history' %}
  {% section 'testimonials' %}
</div>